#plus{
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-font-size: 1em;
    -fx-font-weight: normal;
}

#minus{
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-font-size: 1em;
    -fx-font-weight: normal;
}