#plus{
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-font-size: 1em;
    -fx-font-weight: normal;
}

#minus{
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-font-size: 1em;
    -fx-font-weight: normal;
}

.list-view{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
}

.list-cell{
    -fx-border-color: transparent;
    -fx-background-color: #fff;
    -fx-border-width: 0;
    -fx-text-fill: #0062bd;
}

.list-cell:hover{
    -fx-background-color: #d7d7d7;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.list-cell:focused{
    -fx-background-color: #d7d7d7;
}