.root{
    -fx-background-color: #00e3e9;
}

.button{
    -fx-border-color: #fff;
    -fx-border-radius: 20%;
    -fx-background-color: #fff;
    -fx-font-size: 1.5em;
    -fx-font-weight: 550;
    -fx-text-fill: #0062bd;
}

.label{
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-border-width: 0;
}

.text-area{
    -fx-border-color: #fff;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 5%;
}

