.root{
    -fx-background-color: #009dff;
}

.button{
    -fx-border-color: #fff;
    -fx-border-radius: 20%;
    -fx-background-color: #fff;
    -fx-font-size: 1.5em;
    -fx-font-weight: 550;
    -fx-text-fill: #0062bd;
}

.label{
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-border-width: 0;
}

.text-area{
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-border-color: #fff;
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 5%;
}

.text-area .viewport{
    -fx-background-color: transparent;
}

.text-field{
    -fx-border-color: #fff;
    -fx-background-color: transparent;
    -fx-background-radius: 30%;
    -fx-border-width: 2px;
    -fx-border-radius: 5%;
}

.date-picker{
    -fx-border-color: #fff;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 2px;
    -fx-border-radius: 20%;
}

.date-picker .text-field{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.date-picker .arrow-button{
    -fx-border-color: transparent;
    -fx-background-color: #fff;
    -fx-background-radius: 50%;

}

.date-picker .arrow-button .arrow{
    -fx-background-radius:0px ;
    -fx-background-color: black;
}

.date-picker .cell {
    -fx-background-color: aliceblue;
    -fx-border-color: #344472;
    -fx-pref-width:20px ;
    -fx-pref-height:20px ;
}

.date-picker .cell:hover {
    -fx-text-fill: red;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: aliceblue;
}

.date-picker-popup > .month-year-pane .label {
    -fx-background-color: transparent;
    -fx-border-color: #344472;
    -fx-text-fill: black;
}

.date-picker .button {
    -fx-background-color: transparent;
    -fx-border-color:#344472;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
}