.label{
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-border-width: 0;
}

.button{
    -fx-border-color: #fff;
    -fx-border-radius: 20%;
    -fx-background-color: #fff;
    -fx-font-weight: bold;
    -fx-text-fill: #0062bd;
}

.text-field{
    -fx-border-color: #fff;
    -fx-background-color: transparent;
    -fx-background-radius: 30%;
    -fx-border-width: 2px;
    -fx-border-radius: 5%;
    -fx-text-fill: #fff;
}