.label{
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-border-width: 0;
}

.button{
    -fx-border-color: #fff;
    -fx-border-radius: 20%;
    -fx-background-color: #fff;
    -fx-font-weight: bold;
    -fx-text-fill: #0062bd;
}

.text-field{
    -fx-border-color: #fff;
    -fx-background-color: transparent;
    -fx-background-radius: 30%;
    -fx-border-width: 2px;
    -fx-border-radius: 5%;
    -fx-text-fill: #fff;
    -fx-background-image: url("../image/search.png") ;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 15px, 15px;
    -fx-background-position: 5%, center;
}

.list-view{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
}

.list-cell{
    -fx-border-color: transparent;
    -fx-background-color: #fff;
    -fx-border-width: 0;
    -fx-text-fill: #0062bd;
}

.list-cell:hover{
    -fx-background-color: #d7d7d7;
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.list-cell:focused{
    -fx-background-color: #d7d7d7;
}